app/code/community/MP/Warehouse/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Mage Plugins, Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Mage Plugins Commercial License (MPCL 1.0)
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://mageplugins.net/commercial-license/
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to mageplugins@gmail.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade to newer
 * versions in the future. If you wish to customize the extension for your
 * needs please refer to http://www.mageplugins.net for more information.
 *
 * @category   MP
 * @package    MP_Warehouse
 * @copyright  Copyright (c) 2017-2018 Mage Plugins, Co. and affiliates (https://mageplugins.net/)
 * @license    https://mageplugins.net/commercial-license/ Mage Plugins Commercial License (MPCL 1.0)
 */
-->

<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="catalogInventoryStockItemEntity">
                <all>
                    <element name="product_id" type="xsd:string" minOccurs="0" />
                    <element name="sku" type="xsd:string" minOccurs="0" />
                    <element name="qty" type="xsd:string" minOccurs="0" />
                    <element name="is_in_stock" type="xsd:string" minOccurs="0" />
                    <element name="stock_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="catalogInventoryStockItemUpdateEntity">
                <all>
                    <element name="stock_id" type="xsd:string" minOccurs="0" />
                    <element name="qty" type="xsd:double" minOccurs="0" />
                    <element name="min_qty" type="xsd:double" minOccurs="0" />
                    <element name="use_config_min_qty" type="xsd:int" minOccurs="0" />
                    <element name="is_qty_decimal" type="xsd:int" minOccurs="0" />
                    <element name="backorders" type="xsd:int" minOccurs="0" />
                    <element name="use_config_backorders" type="xsd:int" minOccurs="0" />
                    <element name="min_sale_qty" type="xsd:double" minOccurs="0" />
                    <element name="use_config_min_sale_qty" type="xsd:int" minOccurs="0" />
                    <element name="max_sale_qty" type="xsd:double" minOccurs="0" />
                    <element name="use_config_max_sale_qty" type="xsd:int" minOccurs="0" />
                    <element name="is_in_stock" type="xsd:int" minOccurs="0" />
                    <element name="notify_stock_qty" type="xsd:double" minOccurs="0" />
                    <element name="use_config_notify_stock_qty" type="xsd:int" minOccurs="0" />
                    <element name="manage_stock" type="xsd:int" minOccurs="0" />
                    <element name="use_config_manage_stock" type="xsd:int" minOccurs="0" />
                    <element name="qty_increments" type="xsd:double" minOccurs="0" />
                    <element name="use_config_qty_increments" type="xsd:int" minOccurs="0" />
                    <element name="enable_qty_increments" type="xsd:int" minOccurs="0" />
                    <element name="use_config_enable_qty_inc" type="xsd:int" minOccurs="0" />
                    <element name="is_decimal_divided" type="xsd:int" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderItemEntity">
                <all>
                    <element name="stock_id" type="xsd:int" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderInvoiceItemEntity">
                <all>
                    <element name="stock_id" type="xsd:int" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderShipmentItemEntity">
                <all>
                    <element name="stock_id" type="xsd:int" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderCreditmemoItemEntity">
                <all>
                    <element name="stock_id" type="xsd:int" minOccurs="0" />
                </all>
            </complexType>
        </schema>
    </types>
    <message name="catalogInventoryStockItemListByStockRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="products" type="typens:ArrayOfString" />
        <part name="stockId" type="xsd:string" />
    </message>
    <message name="catalogInventoryStockItemUpdateByStockRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="product" type="xsd:string" />
        <part name="data" type="typens:catalogInventoryStockItemUpdateEntity" />
        <part name="stockId" type="xsd:string" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="catalogInventoryStockItemListByStock">
            <documentation>Retrieve stock data by product ids and stock id</documentation>
            <input message="typens:catalogInventoryStockItemListByStockRequest" />
            <output message="typens:catalogInventoryStockItemListResponse" />
        </operation>
        <operation name="catalogInventoryStockItemUpdateByStock">
            <documentation>Update product stock data and stock id</documentation>
            <input message="typens:catalogInventoryStockItemUpdateByStockRequest" />
            <output message="typens:catalogInventoryStockItemUpdateResponse" />
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="catalogInventoryStockItemListByStock">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="catalogInventoryStockItemUpdateByStock">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
</definitions>
